* {
  margin: 0 auto;
}

body {
  color: #1B3427;
  max-width: 970px;
}

h2 {
  width: 175px;
  margin: 20px auto;
}

/* Add Student Data */
.student_input {
  line-height: 1.5em;
  max-width: 200px;
  border: 2px solid #273927;
  padding: 30px;
  margin: 20px auto;
}

.student_input button {
  margin: 10px 0;
}

/* Actions */
.actions {
  height: 50px;
  display: flex;
  padding: 10px;
  margin: 15px auto;
}

.sort_container {
  min-width: 460px;
}

.sort_categories {
  display: none;
}

.sort_categories--show {
  display: block;
}

.search__container {
  width: 210px;
}

.search-box {
  width: 100%;
  display: flex;
}

.search-box input {
  padding-left: 10px;
  margin: 0;
}

.search-box button {
  margin-left: -1px;
}

/* Student Records Table */
table {
  border: 2px solid #1B3427;
}

th {
  padding: 8px 20px;
  border-collapse: collapse;
}

tr,td {
  padding: 5px 20px;
  border:  1px solid #273927;
  border-collapse: collapse;
}
